# Node modules
node_modules/

# Build outputs
/build/
/dist/
/.svelte-kit/
/package/

# Environment files
.env
.env.*
!.env.example

# Vite temporary files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# IDE/editor settings
.idea/
.vscode/

# MacOS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional npm cache directory
.npm

# TypeScript cache
*.tsbuildinfo

# Svelte cache
.svelte-cache

# Misc
*.local
*.log
/.misc/

# Lock files (if generated locally and not committed)
yarn.lock
pnpm-lock.yaml

# Font file (temporary, to be removed once the font is properly included in the project)
*.woff2
*.ttf
*.otf

# Temporary files
src/components/v1/*
src/lib/v1/*